spring:
  datasource:
    url: jdbc:h2:mem:eightam;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  jackson:
    default-property-inclusion: non_null

logging:
  level:
    org.springframework.web: INFO
    com.eightam.lab: DEBUG

server:
  port: 8080
